#gamesboard-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 20px;
  height: 20px;
}
.option-container {
  width: 500px;
  height: 60px;
  margin: 30px 0;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.destroyer {
  background-color: rgb(87, 86, 86);
}
.submarine {
  background-color: rgb(2, 70, 2);
}
.cruiser {
  background-color: darkblue;
}
.battleship {
  background-color: rgb(94, 2, 2);
}
.carrier {
  background-color: navy;
}
/* .destroyer,
.submarine,
.carrier,
.battleship,
.cruiser {
  border: 1px solid;
  box-sizing: border-box;
} */
.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}
.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}
.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}
.hover {
  background-color: lightgray;
}
.boom {
  background-color: rgb(255, 0, 0) !important;
}
.empty {
  background-color: lightblue !important;
}
#computer .destroyer,
#computer .submarine,
#computer .carrier,
#computer .battleship,
#computer .cruiser {
  background-color: rgb(106, 106, 247);
}
